@model  ViewModelBase
@{
    ViewBag.Title = Model.PageTitle;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <div class="panel panel-default">
            <div class="panel-body media">
                <div class="pull-left">
                    <img class="media-object" src="@Url.Content("~/Content/UnirLogo.jpg")" data-holder-rendered="true">
                </div>
                <div class="media-body text-center">
                    <h2 class="title-bluelight">Sistema Web NoSql de Información CAD</h2>
                </div>
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <p>
                        &copy; @String.Concat(DateTime.Now.Year, " - Alberto Herrero Prieto para Unir.")
                        Contacta con <a href="mailto:@String.Format("{0}?Subject={1}", Model.ProcessContactEmail, Model.ProccessContactMailSubject)"> el administrador </a> clickando en el link para cualquier incidencia o solicitud.
                    </p>
                </div>
            </div>
        </footer>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div>
                        <span>
                        </span>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" id="" class="btn btn-primary">Aceptar</button>
                    <button type="button" class="btn btn-primary">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>
