@model PlaneViewModel
@{
    ViewData["Title"] = "New Plane";
}

@using (Html.BeginForm("Save", "Plane", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="page-header RowTopMargin" style="clear:both">
        <br>
        <h3 class="title-bluelight" style="float:left">Nuevo plano</h3>
        <br>
        <br>
    </div>
    <br />
    <div>
        @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false).ToHtmlString()))
    </div>
    <div Class="row row-eq-height RowTopMargin">
        <div Class="col-md-6">
            <div Class="input-group">
                <span class="input-group-addon leftAlign" id="sizing-addon2">Nombre</span>
                @Html.TextBoxFor(obj => obj.Current.Name, new { @class = "form-control" })
            </div>
        </div>
        <div Class="col-md-6">
            <div Class="input-group">
                <span class="input-group-addon leftAlign" id="sizing-addon1">Descripción</span>
                @Html.TextBoxFor(obj => obj.Current.Description, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div Class="row row-eq-height RowTopMargin">
        <div Class="col-md-12">
            <div Class="input-group">
                <span class="input-group-addon leftAlign" id="sizing-addon1">Fichero</span>
                @Html.TextBoxFor(m => m.PostedFile, new { type = "file", @class = "form-control " })
            </div>
        </div>
    </div>
    <div class="RowTopMargin RowBottomMargin">
        <Button type="button" Class="btn btn-info pull-right btn-lg RowLeftMargin" onclick="$('form').submit();">Guardar</Button>
    </div>
}
